.metabnb-container_wrapper{
    position: absolute;
width: 1349px;
height: 774px;
left: 0px;
top: 1794px;


background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
}

.metabnb-content-grid_wrapper{
    display: grid;
    grid-template-columns: 40% 60%;
    position: absolute;
    width: 1240px;
    height: 768px;
    left: 100px;
    top: 142px;
}

.metabnb-heading_wrapper{
width: 346px;
height: 60px;

}

#metabnb-heading{
font-family: 'poppins';
font-style: normal;
font-weight: bolder;
font-size: 48px;
line-height: 60px;
/* identical to box height */


/* White lin */

background: linear-gradient(124.4deg, #FFFFFF 10.8%, #FFFFFF 87.34%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}

.metabnb-message_container{
    height: 136px;
width: 415px;
}

#metabnb-message{
    font-family: 'Red Rose';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 35px;
/* or 194% */


/* White lin */

background: linear-gradient(124.4deg, #FFFFFF 10.8%, #FFFFFF 87.34%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}

.metabnb-btn{
    
padding-top: 40px;
}

#learnmore__btn{
    height: 48px;
    width: 156px;
    border: #FFFFFF 1px solid;
    border-radius: 8px;
    background: linear-gradient(124.4deg, #FFFFFF 10.8%, #FFFFFF 87.34%);
    color: #A02279;
    font-size: 14px;
    cursor: pointer;
}




.metabnb-images-container_wrapper{
    width: 704px;
    height: 574.85px;
    

}



#metabnb--img_001{
    position: absolute;
    width: 378.2px;
    height: 253.89px;
    left: 498px;
    top: 90.13px;
    z-index: 2;

}

#metabnb--img_002{
    position: absolute;
    width: 378.2px;
    height: 253.89px;
    left: 777.53px;
    top: 221.93px;
    z-index: 3;


}

#metabnb--img_003{
    position: absolute;
width: 378.21px;
height: 253.89px;
left: 769.45px;
top: 0px;
z-index: 1;

}


@media only screen and (min-width:280px) and (max-width: 541px) {

.metabnb-container_wrapper {
    position: absolute;
    width: 100%;
    height: 837px;
    left: 0px;
    top: 5291px;
    background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
}

.metabnb-content-grid_wrapper {
    display: grid;
    grid-template-rows: repeat(2, minmax(0, 1fr));   
     position: absolute;
    width: 80%;
    height: 768px;
    left: 10%;
    top: 25px;
    text-align: center;
}

.metabnb-heading_wrapper {
    width: 309px;
    height: 60px;
}

#metabnb-heading {
    font-family: 'poppins';
    font-style: normal;
    font-weight: bolder;
    font-size: 43px;
    line-height: 60px;
    background: linear-gradient(124.4deg, #FFFFFF 10.8%, #FFFFFF 87.34%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.metabnb-message_container {
    height: 136px;
    width: 310px;
}

#metabnb-message {
    font-family: 'Red Rose';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 35px;
    background: linear-gradient(124.4deg, #FFFFFF 10.8%, #FFFFFF 87.34%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    text-align: center;
}

.metabnb-btn {
    padding-top: 140px;
    /* text-align: center; */
    align-items: center;
    padding-left: 62%;
    padding-bottom: 50px;
}

#metabnb--img_001 {
    position: absolute;
    width: 170.2px;
    height: 150.89px;
    position: absolute;
    left: -8px;
    top: 73%;
    z-index: 2;
}

#metabnb--img_001 img{
width: 100%;
height: 100%;
}
 
#metabnb--img_002 {
        position: absolute;
        width: 170.2px;
    height: 150.89px;
    left: 93.53px;
    top: 38rem;
        z-index: 3;
    }

    #metabnb--img_002 img{
        width: 100%;
        height: 100%;
        }

        #metabnb--img_003 {
            position: absolute;
    width: 270.2px;
    height: 150.89px;
    left: 58.45px;
    top: 507px;
    z-index: 1;
        }

        #metabnb--img_003 img{
            width: 100%;
            height: 100%;
            }


            .metabnb-images-container_wrapper {
                width: fit-content;
                padding-top: 20px;
                height: 574.85px;
            }
}


@media only screen and (min-width:541px) and (max-width: 980px){
    .metabnb-container_wrapper {
        position: absolute;
        width: 100%;
        height: 900px;
        left: 0px;
        top: 207rem;
        background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
    }

.metabnb-content-grid_wrapper {

    display: grid;
    grid-template-rows: repeat(2, minmax(0, 1fr));   
     position: absolute;
    width: 90%;
    height: 800px;
    left: 8%;
    top: 25px;
    text-align: center;

}

.metabnb-heading_wrapper {
    width: 309px;
    height: 60px;
    align-items: center;
    margin-left: 160px;
}

#metabnb-heading {
    font-family: 'poppins';
    font-style: normal;
    font-weight: bolder;
    font-size: 43px;
    line-height: 60px;
    background: linear-gradient(124.4deg, #FFFFFF 10.8%, #FFFFFF 87.34%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.metabnb-images-container_wrapper {
    width: fit-content;
    padding-top: 20px;
    height: 574.85px;
}

#metabnb--img_001 {
    position: absolute;
    width: 215.2px;
    height: 182.89px;
    position: absolute;
    left: 173px;
    top: 65%;
    z-index: 2;
}

#metabnb--img_001 img{
width: 100%;
height: 100%;
}
 
#metabnb--img_002 {
    position: absolute;
    width: 217.2px;
    height: 179.89px;
    left: 264.53px;
    top: 38rem;
    z-index: 3;
}

    #metabnb--img_002 img{
        width: 100%;
        height: 100%;
        }

        #metabnb--img_003 {
            position: absolute;
            width: 294.2px;
            height: 171.89px;
            left: 270.45px;
            top: 484px;
            z-index: 1;
        }

        #metabnb--img_003 img{
            width: 100%;
            height: 100%;
            }

.metabnb-text-wrapper-container{
    width: 584px;
    align-items: center;}.metabnb-message_container {
        height: 136px;
        align-items: center;
        width: 500px;
        text-align: center;
    }


#metabnb-message {
    font-family: 'Red Rose';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 35px;
    background: linear-gradient(124.4deg, #FFFFFF 10.8%, #FFFFFF 87.34%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

}

.metabnb-message_container {
    height: 136px;
    align-items: center;
    width: 500px;
    text-align: center;
    padding-left: 20%;
}

.metabnb-btn {
    padding-top: 100px;
    padding-left: 14%;
}

}