.foot-column_wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 100px;
    gap: 264px;
    
    position: absolute;
    width: 1240px;
    height: 70px;
    left: 0px;
    top: 742px;background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);


}

.inner-column_wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 100px;
    gap: 264px;

    position: absolute;
    width: 1440px;
    height: 70px;
    left: 0px;
    top: 742px;
}

.Mb_token-Wrapper{
    width: 222px;
height: 50px;
display: flex;
flex-direction: row;



flex: none;
order: 0;
flex-grow: 0;
}

.Mb_token-image-Wrapper{
    position: absolute;
left: 9.64%;
right: 88.05%;
top: 24.79%;
bottom: 9.37%;

transform: matrix(0.93, -0.21, 0.4, 0.97, 0, 0);
}

.mbtoken-text{
    position: absolute;
left: 12.62%;
right: 74.95%;
top: 21.43%;
bottom: 21.43%;

font-family: 'AirbnbCereal_W_Bd';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 27px;

display: flex;
align-items: center;
letter-spacing: 0.02em;


color: #F7F7F7;
}

.MetaMask-Wrapper{
    width: 214.14px;
height: 37.56px;



flex: none;
order: 1;
flex-grow: 0;
}

.MetaMask-image-Wrapper{
    position: absolute;
left: 43.39%;
right: 53.98%;
top: 23.17%;
bottom: 23.17%;
}

.metamask-text{
    color: #F7F7F7;
    font-family: inter;
    font-style: normal;
font-weight: 300;
font-size: 40px;
line-height: 27px;
}

.opensea-Wrapper{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 12px;

width: 198.32px;
height: 40.79px;



flex: none;
order: 2;
flex-grow: 0;
}

.opensea-image-wrapper{
    width: 38.32px;
height: 40.79px;
    
    
    flex: none;
    order: 2;
    flex-grow: 0; 
}

.opensea-image-wrapper img{
    width: 100%;
    height: 100%;
}

.opensea-text_wrapper{
    width: 148px;
height: 39px;


flex: none;
order: 1;
flex-grow: 0;
}


.opensea-text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 96%;
    
    display: flex;
    align-items: center;
    letter-spacing: -0.03em;
    
    color: #FFFFFF;
}

